# 依赖目录
node_modules/
.pnp/
.pnp.js

# 构建输出
.next/
out/
build/
dist/

# 环境变量文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日志
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器目录和文件
.idea/
.vscode/
*.swp
*.swo

# 操作系统文件
.DS_Store
Thumbs.db

# 测试覆盖率
coverage/

# 调试文件
.debug

# 临时文件
tmp/
temp/

# Docker数据卷
data/
